from django.conf import settings
from django.utils.translation import ugettext_lazy as _

# Horizon static components
{% if horizon_static_url %}
STATIC_URL = '{{ horizon_static_url }}'
{% else %}
STATIC_URL = '/static'
{% endif %}

# Services being monitored
MONITORING_SERVICES = getattr(
    settings,
    'MONITORING_SERVICES',
    [
        {'name': _('OpenStack Services'),
         'groupBy': 'service'},
        {'name': _('Servers'),
         'groupBy': 'hostname'},
        {'name': _('Log Paths'),
          'groupBy': 'path'}
    ]
)

MONITORING_SERVICE_TYPE = getattr(
    settings, 'MONITORING_SERVICE_TYPE', 'monitoring'
)

# Grafana button titles/file names (global across all projects):
GRAFANA_LINKS = []
DASHBOARDS = getattr(settings, 'GRAFANA_LINKS', GRAFANA_LINKS)

#
# Per project grafana button titles/file names.  If in this form,
# '*' will be applied to all projects not explicitly listed.
#
# Note the above form (flat) is supported for backward compatibility.
#
#GRAFANA_LINKS = [
#    {'admin': [
#        {'title': 'Dashboard', 'fileName': 'openstack.json'},
#        {'title': 'RabbitMQ', 'fileName': 'rabbit.json'},
#        {'title': 'Project Utilization', 'fileName': 'libvirt.json'}]},
#    {'*': [
#        {'title': 'OpenStack Dashboard', 'fileName': 'project.json'},
#        {'title': 'Add New Dashboard', 'fileName': 'empty.json'}]}
#]

GRAFANA_URL = getattr(settings, 'GRAFANA_URL', {'{{ keystone_region }}': '{{ grafana_url }}', })

ENABLE_KIBANA_BUTTON = getattr(settings, 'ENABLE_KIBANA_BUTTON', {{ kibana_enabled }})
KIBANA_HOST = getattr(settings, 'KIBANA_HOST', '{{ kibana_url }}')
KIBANA_POLICY_RULE = getattr(settings, 'KIBANA_POLICY_RULE',
                             'monitoring:kibana_access')
KIBANA_POLICY_SCOPE = getattr(settings, 'KIBANA_POLICY_SCOPE',
                              'monitoring')

OPENSTACK_SSL_NO_VERIFY = getattr(settings, 'OPENSTACK_SSL_NO_VERIFY', {{ openstack_ssl_no_verify }})
OPENSTACK_SSL_CACERT = getattr(settings, 'OPENSTACK_SSL_CACERT', {{ openstack_ssl_cacert }})
